.bottom-products-suggest {
    background-color: #fff;
    border: 0;
    border-radius: 0;
    padding: 0;
    display: block;
    position: fixed;
    text-align: left;
    width: auto;
  min-width: 250px;
   left: 35px;
    bottom: 25px;
      z-index: 1000;
}
.bottom-products-suggest .product-short-suggest .product-thumb img {
    max-width: 50px;
}
.bottom-products-suggest .product-short-suggest {
    overflow: hidden;
    padding: 10px;
    background-color: #fff;
    border: 2px solid #efefef;
}
.bottom-products-suggest .product-short-suggest .product-thumb {
    float: right;
    margin-left: 10px;
}
.bottom-products-suggest .product-short-suggest .product-title {
    display: block;
    margin-bottom: 7px;
    font-weight: 500;
    font-size: 11px;
    line-height: 1.5;
    text-transform: uppercase;
}
.bottom-products-suggest .product-short-suggest .price del {
    color: #D0D0D0;
}
.footer-model-5 .site-footer a:hover { color:#35c7df !important; }
.footer-model-5 .copyright-type__5 a:hover { color:#ffffff !important; }
.footer-model-5 .copyright-type__5 a { color:#35c7df;  }
.footer-model-5 .footer-menu { border-top:1px solid #e4e4e4; }


.header-type-9 .header-top a.close { color: ; }  
.header-type-9 .header-top a.close:hover { color: ; }  
.header-type-9 .header-top { background: ; }  
.header-type-9 .header-top ul li:last-child { border-right:none; }  
.header-type-9 .header-top ul li a { color: ; }
.header-type-9 .header-top ul li a:hover { color: ; }
.header-type-9 .header-top ul li { color: ;border-right:1px solid ; } 
.header-type-9 .header-bar__module.cart .baskettop a.icon-cart-arrow #cartCount,.header-type-9 .header-bar__module a {color:#444444;}
.header-type-9 .header-bar__module.cart .baskettop a.icon-cart-arrow:hover #cartCount,.header-type-9 .header-bar__module a:hover { color:#35c7df;}
.header-type-9  .top_bar_menu ul li { line-height:normal;border-right:1px solid ; }
.header-type-9  .top_bar_menu ul li:last-child,.header-type-9 .customer_account ul li:last-child { border-right:none; }

/* Top block */
.header-type-9 .top_bar { background: #075ac9; }
.header-type-9 .top_bar li, .header-type-9 .top_bar span { color:#ffffff;}     
.header-type-9 .top_bar a,.header-type-9 .top_bar button { color:#ffffff;}    
.header-type-9 .top_bar a:hover, .header-type-9 .top_bar a:hover span,.header-type-9 .top_bar button:hover { color:#35c7df;}    


/* Logo block */
.header-type-9 .site-header__menubar { background: #f6f6f6;}    
.header-type-9 .site-header__logo a { color:#444444;}
.header-type-9 .site-header__logo a:hover { color:#35c7df;}    

/* Menu  block */
.header-type-9 .menu-tool,.mobile-nav-section {background: #ffffff;}
.header-type-9 .menu-tool ul li {color: ;}
.header-type-9 .menu-tool ul li a,.mobile-nav-section .mobile-nav-trigger {color:#444444;}  
.header-type-9 .menu-tool ul li a:hover,.header-type-9 .menu-tool .site-nav > li > a.current:hover {color:#35c7df;} 
.header-type-9 .menu-tool .site-nav >  li > a.current {color:#35c7df;} 
.header-type-9 .site-nav-dropdown,#MobileNav,.mobile-nav__sublist { background: #fff;}
.header-type-9 .site-nav-dropdown .inner > a {color: #075ac9;}    
.header-type-9 .site-nav-dropdown .inner > a:hover {color: #35c7df;}    
.header-type-9 .site-nav-dropdown .inner .dropdown a,.header-type-9 .menu-tool .site-nav .site-nav-dropdown li a,.header-type-9 .site-nav .widget-featured-product .product-title,.header-type-9 .site-nav .widget-featured-product .widget-title h3,#MobileNav a,.mobile-nav__sublist a,.site-nav .widget-featured-nav .owl-prev a,.site-nav .widget-featured-nav .owl-next a  {color: #444444;}
.header-type-9 .site-nav-dropdown .inner .dropdown a:hover,.header-type-9 .menu-tool .site-nav .site-nav-dropdown li a:hover,.header-type-9 .site-nav-dropdown .inner .dropdown a.current,.header-type-9 .menu-tool .site-nav .site-nav-dropdown li a.current,.header-type-9 .site-nav .widget-featured-product .product-title:hover,#MobileNav a.current,.mobile-nav__sublist a.current,.site-nav .widget-featured-nav .owl-prev a:hover,.site-nav .widget-featured-nav .owl-next a:hover {color: #35c7df;}    

.header-type-9 .is-sticky .site-header__menubar:after { background-image:none;height:0; }

/* Dropdown block */
.header-type-9 .menubar-section #Togglemodal i {color: ;}
.header-type-9 .menubar-section #Togglemodal i:hover {color: ;}
.header-type-9 #slidedown-modal {background: ;}
.header-type-9 #slidedown-modal ul li a {color:;} 
.header-type-9 #slidedown-modal ul li a:hover {color:;} 


/* Search block */     
.header-type-9 .header-search input#search {color:#444444;} 
.header-type-9 .header-search span:hover{background:#075ac9;}
.header-type-9 .header-search span,.header-type-9 .search-bar__form button.res_btn  {color:#444444;} 
.header-type-9 .header-search span:hover,.header-type-9 .search-bar__form button.res_btn:hover {color:#ffffff;} 
.header-type-9 .sb-search.sb-search-open input[type="text"] { border:1px solid #e4e4e4; background:;}
.header-type-9 .sb-search.sb-search-open .sb-icon-search { color:#ffffff;background:#075ac9;}
.header-type-9 .sb-search.sb-search-open .sb-icon-search:hover { color:#ffffff;background:#35c7df;}
.header-type-9 .search-bar__form button.res_btn { background:#ffffff;border:none; }

.header-type-9 .header-search input#search::-webkit-input-placeholder  { /* Chrome/Opera/Safari */
  color:#444444;
}
.header-type-9 .header-search input#search::-moz-placeholder { /* Firefox 19+ */
  color:#444444;
}
.header-type-9 .header-search input#search:-ms-input-placeholder { /* IE 10+ */
  color:#444444;
}
.header-type-9 .header-search input#search:-moz-placeholder { /* Firefox 18- */
  color:#444444;
}


.header-type-9 .header-search span {background:#ffffff;}

/* Cart Summary block */
.header-type-9 a.icon-cart-arrow i  {color: ;}
.header-type-9 a.icon-cart-arrow:hover i {color: ;}
.header-type-9 #slidedown-cart .actions, .header-type-9  #slidedown-cart  {background: #fff;}
.header-type-9 .header-bar__module p {color: #444444;}
.header-type-9 .header-bar__module .btn {color:#ffffff;background: #075ac9;} 
.header-type-9 .header-bar__module .btn:hover {color:#ffffff;background: #35c7df;} 
.header-type-9 #slidedown-cart .total .price, .header-type-9 #minicart_total,.header-type-9 #slidedown-cart ul li .cart-collateral {color:#075ac9;} 
.header-type-9 #slidedown-cart li { border-bottom:1px solid #e4e4e4; }
.header-type-9 a.icon-cart-arrow i {background:#075ac9;color:#ffffff;}
.header-type-9 a.icon-cart-arrow i:hover {background:#35c7df;color:#ffffff;}


@media (max-width: 767px) { 
  
  .header-type-9 a.icon-cart-arrow i,.header-type-9 .search-bar__form button.res_btn,.header-mobile #showLeftPush  {color: ;}
.header-type-9 a.icon-cart-arrow:hover i,.header-type-9 .search-bar__form button.res_btn:hover,.header-mobile #showLeftPush:hover {color: ;}
.header-type-9 a.icon-cart-arrow i,.header-type-9 .search-bar__form button.res_btn,.header-mobile #showLeftPush {background:#075ac9;color:#ffffff;}
.header-type-9 a.icon-cart-arrow i:hover,.header-type-9 .search-bar__form button.res_btn:hover,.header-mobile #showLeftPush:hover {background:#35c7df;color:#ffffff;}

}

/* Currency block */

.header-type-9 .myact-detail i {background:#075ac9;color:#ffffff;}

.header-type-9 .myact-detail i:hover {background:#35c7df;color:#ffffff;}

.header-type-9 a.myact-detail:hover{color:#35c7df;}
  .header-type-9 a.myact-detail,.header-type-9 .myact-detail span {color:#444444;}



.header-type-9 .header_currency ul select ,.header-type-9 .header_currency ul li.currency .selector-arrow::after {color:#ffffff;}   
.header-type-9 .header_currency ul select:hover , .header_currency ul li.currency:hover .selector-arrow::after {color:#35c7df;}  
.header-type-9 .header_currency ul li.currency:hover:after {border-top-color:#35c7df;}
.header-type-9 .header_currency ul li.currency:after {border-top-color:#ffffff;}
.header-type-9 .header_currency option {background:#ffffff;color:#444444;}

.header-type-9 .dt-sc-toggle-content {background:;}

.header-type-9 .inline-list li a {color:;}

.header-type-9 .inline-list li a:hover {color:;}

.header-type-9 .init:hover {color:;}
/* Header borders */






.header-mobile { position: relative; float: left; width:100%; }
.header-mobile #showLeftPush.active .fa-times{display:block;line-height:46px;}
.header-mobile #showLeftPush { display: inline-block;font-size: 16px;text-align: center;  cursor: pointer;height:40px;line-height:40px;width:40px;  }

table {
  width: 100%;
  text-align: center;
}

tr.example-detail-row {
  height: 0;
  text-align: center;
}

tr.example-element-row:not(.example-expanded-row):hover {
  background: whitesmoke;
}

tr.example-element-row:not(.example-expanded-row):active {
  background: #efefef;
}

.example-element-row td {
  border-bottom-width: 0;
  text-align: center;
}

.example-element-detail {
  overflow: hidden;
  display: flex;
  text-align: center;
}

.example-element-diagram {
  min-width: 80px;
  border: 2px solid black;
  padding: 8px;
  font-weight: lighter;
  margin: 8px 0;
  height: 104px;
}

.example-element-symbol {
  font-weight: bold;
  font-size: 40px;
  line-height: normal;
}

.example-element-description {
  padding: 16px;
}

.example-element-description-attribution {
  opacity: 0.5;
}


.site-nav{
	font-size: 20px;
}
.site-menu2{
	font-size: 18px;
	text-transform: uppercase;
	font-weight: bold;
}
.site-menu1{
	font-size: 22px;
	text-transform: uppercase;
	font-weight: bold;
}
table {
  width: 100%;
}

.button {
	background-color: #4CAF50; /* Green */
	border: none;
	color: white;
	padding: 16px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 4px 2px;
	transition-duration: 0.4s;
	cursor: pointer;
  }
  
  .button1 {
	background-color: white; 
	color: black; 
	border: 2px solid #4CAF50;
	font-size: 18px;
	line-height: 1cm;
	font-family: sans-serif;
  }
  
  .button1:hover {
	background-color: #5ebe61;
	color: white;
  }
  .button1 {border-radius: 12px;}

  .button2 {
    background-color: white; 
	color: black; 
	border: 2px solid #4CAF50;
	font-size: 22px;
	line-height: 1cm;
	font-family: sans-serif;
    }
    
    .button2:hover {
      background-color: #5ebe61;
      color: white;
    }
    .button2 {border-radius: 10px;}