        
                  <div id="PageContainer"></div>
                  <div class="quick-view"></div>
                  <nav class="cbp-spmenu cbp-spmenu-vertical cbp-spmenu-left " id="cbp-spmenu-s1">
                     <div class="gf-menu-device-wrapper">
                        <div class="close-menu">x</div>
                        <div class="gf-menu-device-container"></div>
                     </div>
                  </nav>
                  <div class="wrapper-container">
                     <div class="header-type-9">
                        <div class="">
                           <div id="header-landing" class="sticky-animate">
                              <div id="shopify-section-header-model-9" class="shopify-section">
<app-header></app-header>
</div>
</div>
</div>
</div>
</div>

  <div class="dt-sc-hr-invisible-large"></div> 
  
    
    <div class="wrapper">
            
      <div class="grid-uniform">
        <div class="grid__item">  
           
            <div class="grid">
  <div class="grid__item">	
      <div id="shopify-section-about" class="shopify-section">
        <div data-section-id="about"  data-section-type="About section" class="aboutus">


            <div class="grid-banner-type-18">
              <div class="container">
                <div class="grid-uniform collectionItems">  
          
                  <div class="banner-images">
          
          
                    <div class="grid__item wide--one-third post-large--one-third large--one-third medium--one-half small-grid__item wow fadeInUp animated">
                      <div class="bg-effect-" style="position:relative;  ">
                        <div class="ovrly17">
                          <a href="about-us#">
                          
                          <img src="https://cdn.shopify.com/s/files/1/0188/0503/0976/files/img-1_be32fda4-bed5-4363-a768-cea96f29f715.jpg?v=1551426744" alt="Operation Theater" />
                             
                            <div class="ovrly" style="background:rgb(69, 206, 160);"></div>       
                          <div class="ovrly">   
                          </div>
                            </a>        
                          
                        </div>
                        <div class="featured-content">              
                             
                          <h2  style="background:rgba(7, 90, 201, 0.8)" ><a href="about-us#">Operation Theater</a></h2>
                           
                        </div>   
                      </div>
                    </div> 
                    <div class="grid__item wide--one-third post-large--one-third large--one-third medium--one-half small-grid__item wow fadeInUp animated">
                      <div class="bg-effect-" style="position:relative;  ">
                        <div class="ovrly17">
                          <a href="about-us#">
                          
                          <img src="https://cdn.shopify.com/s/files/1/0188/0503/0976/files/img-2.jpg?v=1551426752" alt="ENT Monitor" />
                             
                            <div class="ovrly" style="background:rgb(69, 206, 160);"></div>       
                          <div class="ovrly">   
                          </div>
                            </a>        
                          
                        </div>
                        <div class="featured-content">              
                             
                          <h2  style="background:rgba(7, 90, 201, 0.8)" ><a href="about-us#">ENT Monitor</a></h2>
                           
                        </div>   
                      </div>
                    </div> 
                    <div class="grid__item wide--one-third post-large--one-third large--one-third medium--one-half small-grid__item wow fadeInUp animated">
                        <div class="bg-effect-" style="position:relative;  ">
                          <div class="ovrly17">
                            <a href="about-us#">
                            
                            <img src="https://cdn.shopify.com/s/files/1/0188/0503/0976/files/img-3.jpg?v=1551426758" alt="Testing Lab" />
                               
                              <div class="ovrly" style="background:rgb(69, 206, 160);"></div>       
                            <div class="ovrly">   
                            </div>
                              </a>        
                            
                          </div>
                          <div class="featured-content">              
                               
                            <h2  style="background:rgba(7, 90, 201, 0.8)" ><a href="about-us#">Testing Lab</a></h2>
                             
                          </div>   
                        </div>
                      </div> 
            
            
            
                    </div>
            
            
            
                  </div>
            
                </div>
              </div>
              <div class="dt-sc-hr-invisible-large"></div> 
  
  <div class="grid-uniform section-two">
    
      
      <div class="border-title">       
        <h2>  One stop destination for all</h2>      
        
        <h6>  Medical Needs</h6>
        
        
      </div>
      
    <div class="container">
      <div class="grid__item">
        <div class="grid__item wide--one-half post-large--one-half large--one-half medium--grid__item small--grid__item icon-left">
          <div class="icon-wrapper ">
            <div class="icon-detail">
              
              <h4>  Service</h4>
              
              
              <p>Lorem ipsum dolor amet, consectetur adipis cing elit. Nullam id arcu tortor. Sed eget sit ame egestas, cursus felis quis, vestibulum..</p>
              
            </div>
            <div class="icon">
              
              <span class="fa fa-stethoscope"> </span>
              
            </div>
          </div>
          <div class="icon-wrapper ">
            <div class="icon-detail">
              
              <h4>  Equipments</h4>
              
              
              <p>Lorem ipsum dolor amet, consectetur adipis cing elit. Nullam id arcu tortor. Sed eget sit ame egestas, cursus felis quis, vestibulum</p>
              
            </div>
            <div class="icon">
              
              <span class="fa fa-wheelchair"> </span>
              
            </div>
          </div>
        </div>
        <div class="grid__item wide--one-half post-large--one-half large--one-half medium--grid__item small--grid__item icon-right">
            <div class="icon-wrapper ">
              <div class="icon">
                
                <span class="fa fa-medkit"> </span>
                
              </div>
              <div class="icon-detail">
                
                <h4>  First Aid</h4>
                
                
                <p>Lorem ipsum dolor amet, consectetur adipis cing elit. Nullam id arcu tortor. Sed eget sit ame egestas, cursus felis quis, vestibulum</p>
                
              </div>
            </div>
            <div class="icon-wrapper ">
              <div class="icon">
                
                <span class="fa fa-heartbeat"> </span>
                
              </div>
              <div class="icon-detail">
                
                <h4>  Life Insurance</h4>
                
  
                
                <p>Lorem ipsum dolor amet, consectetur adipis cing elit. Nullam id arcu tortor. Sed eget sit ame egestas, cursus felis quis, vestibulum</p>
                
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="dt-sc-hr-invisible-large"></div> 
  




  
  <div class="grid-uniform section-four" >
    <div class="container">
     
      <div class="grid__item ">
        <div class="grid__item wide--two-thirds post-large--two-thirds large--two-thirds">
           
      <div class="main-title">
        <h2>  Our Services</h2>

      </div>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu.Lorem Ipsum&nbsp;is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
          <div class="dt-sc-hr-invisible-small"></div>
          
          <div class="grid__item img-content">
            
            <div class="grid__item wide--one-third post-large--one-third large--one-third medium--one-half small--grid__item">
              
              <img src="https://cdn.shopify.com/s/files/1/0188/0503/0976/files/img-7_1024x1024.jpg?v=1551427510" alt="" title="" /> 
              
            </div>
            
          
            <div class="grid__item wide--one-third post-large--one-third large--one-third medium--one-half small--grid__item">
                
              <img src="https://cdn.shopify.com/s/files/1/0188/0503/0976/files/img-6_1024x1024.jpg?v=1551427498" alt="" title="" /> 
               
            </div>
           
            
            <div class="grid__item wide--one-third post-large--one-third large--one-third medium--one-half small--grid__item">
              
              <img src="https://cdn.shopify.com/s/files/1/0188/0503/0976/files/img-5_1024x1024.jpg?v=1551427490" alt="" title="" /> 
               
            </div>
           
          </div>
        </div>   
       
        <div class="grid__item wide--one-third post-large--one-third large--one-third">
           
          <img src="https://cdn.shopify.com/s/files/1/0188/0503/0976/files/img-4_1024x1024.jpg?v=1551427442" alt="" title="" /> 
          
          
        </div>
      
      </div>
    </div>
  </div>
  <div class="dt-sc-hr-invisible-large"></div> 
  


  
  <div class="grid-uniform section-three " style="background:#fafafa;float:left;width:100%;">
    <div class="container">
      
      <div class="border-title">
        <h2 style="color:#222222">Team Section</h2>
        

      </div>
      
      <div class="grid__item">

        

              
        

        <div class="grid__item wide--one-quarter post-large--one-quarter large--one-quarter medium--one-half small-grid__item ">
          <div class="team">
            
            <div class="team-img">
              
              <img src="https://cdn.shopify.com/s/files/1/0188/0503/0976/files/team-3.jpg?v=1551427729" alt="#" />
              
            </div>
            
            <div class="team-detail">
              
              <h4>Norman Garcia</h4>
              
              
              <h5>Front Office</h5>
              
            </div>
          </div>
        </div>

        

        <div class="grid__item wide--one-quarter post-large--one-quarter large--one-quarter medium--one-half small-grid__item ">
          <div class="team">
            
            <div class="team-img">
              
              <img src="https://cdn.shopify.com/s/files/1/0188/0503/0976/files/team-1.jpg?v=1551427738" alt="" />
              
            </div>
            
            <div class="team-detail">
              
              <h4>Josefina O'Brien</h4>
              
              
              <h5>Customer Support</h5>
              
            </div>
          </div>
        </div>

        

        <div class="grid__item wide--one-quarter post-large--one-quarter large--one-quarter medium--one-half small-grid__item ">
          <div class="team">
            
            <div class="team-img">
              
              <img src="https://cdn.shopify.com/s/files/1/0188/0503/0976/files/team-4.jpg?v=1551427746" alt="" />
              
            </div>
            
            <div class="team-detail">
              
              <h4>Alfonso Jensen</h4>
              
              
              <h5>Retail Manager</h5>
              
            </div>
          </div>
        </div>

        

        <div class="grid__item wide--one-quarter post-large--one-quarter large--one-quarter medium--one-half small-grid__item ">
          <div class="team">
            
            <div class="team-img">
              
              <img src="https://cdn.shopify.com/s/files/1/0188/0503/0976/files/team-2.jpg?v=1551427759" alt="" />
              
            </div>
            
            <div class="team-detail">
              
              <h4>Roy Gomez</h4>
              
              
              <h5>Marketing Manager</h5>
              
            </div>
          </div>
        </div>

        
        







      </div>
    </div>
  </div>
   

</div>
</div>
</div>
</div>
  
           
      </div>
    </div>      
    <div id="shopify-section-footer-model-5" class="shopify-section"><div data-section-id="footer-model-5"  data-section-type="Footer-model-5" class="footer-model-5">
        <app-footer></app-footer>
    </div>




</div>
<!-- Begin quick-view-template -->
<div class="clearfix" id="quickview-template" style="display:none">
    <div class="overlay"></div>
    <div class="content clearfix">
      <div class="product-img images">
        <div class="quickview-featured-image product-photo-container"></div>
        <div class="more-view-wrapper">
          <ul class="product-photo-thumbs quickview-more-views-owlslider owl-carousel owl-theme">
          </ul>
          <div class="quick-view-carousel"></div>
        </div>
      </div>
      <div class="product-shop summary">
        <div class="product-item product-detail-section">
          <h2 class="product-title"><a>&nbsp;</a></h2>
          
          <p class="item-text product-description"></p>
          
          <div class="prices product_price">
            <label>Effective Price :</label>
            <div class="price h4" id="QProductPrice"></div>
            <div class="compare-price" id="QComparePrice"></div>
          </div>
          
          <div class="product-infor">
            <p class="product-inventory"><label>Availability :</label><span></span></p>    
          </div>
          
          <div class="details clearfix">
            <form action="https://kure-demo.myshopify.com/cart/add" method="post" class="variants">
              <select name='id' style="display:none"></select>
              <div class="qty-section quantity-box">
                <label>Quantity :</label>
                <div class="dec button qtyminus">-</div>
                <input type="number" name="quantity" id="Qty" value="1" class="quantity">
                <div class="inc button qtyplus">+</div>
              </div>
              
              
              <div class="total-price">
                <label>Subtotal :</label><span class="h5"></span>
              </div>
                          
              <div class="actions">
                  <button type="button" class="add-to-cart-btn btn">
                    Add to Cart
                  </button>
                </div>
            </form>
          </div>     
        </div>
      </div>  
   <a href="javascript:void(0)" class="close-window"></a> 
    </div>
   
  </div>
  <div class="loading-modal compare_modal">Loading</div>
  <div class="ajax-success-compare-modal compare_modal" id="moda-compare" tabindex="-1" role="dialog" style="display:none">
    <div class="overlay"> </div>
      <div class="modal-dialog modal-lg">
        <div class="modal-content content" id="compare-modal">
          <div class="modal-header">
  
            <h4 class="modal-title">Compare Products</h4>
          </div>
          <div class="modal-body">
            <div class="table-wrapper">
              <table class="table table-hover">
                <thead>
                  <tr class="th-compare">
                    <th></th>
                  </tr>
                </thead>
                <tbody id="table-compare">
  
                </tbody>
  
              </table>
             </div>
          </div>
          <div class="modal-footer">
             <a href="javascript:void(0)" class="close-modal"><i class="far fa-times-circle"></i></a>
          </div>         
        </div>
      </div>
    </div>
  
   
    <div class="loading-modal modal">Loading</div> 
  <div class="ajax-error-modal modal">
    <div class="modal-inner">
      <div class="ajax-error-title">Error</div>
      <div class="ajax-error-message"></div>
    </div>
  </div>
  <div class="ajax-success-modal modal">
        <div class="overlay"></div>
      <div class="content"> 
        
        
        <div class="ajax-left">    
          <p class="added-to-cart info">Product successfully added to your shopping cart</p>
        <p class="added-to-wishlist info">translation missing: en.products.wishlist.added_to_wishlist</p>
        <img class="ajax-product-image" alt="modal window" src="../index.html" />
         <div class="ajax-cart-desc">
          <h3 class="ajax-product-title"></h3>
          <span class="ajax_price"></span>
          <p>Qty:&nbsp;<span class="ajax_qty"></span></p>
          </div>
        </div>
        <div class="ajax-right"> 
          
          <p>There are <span class="ajax_cartCount"></span>&nbsp;item(s) in your cart</p>
          <span class="ajax_cartTotal"></span>
            <button class="btn continue-shopping" onclick="javascript:void(0)">Continue shopping</button>
          <div class="success-message added-to-cart"><a href="https://kure-demo.myshopify.com/cart" class="btn"><i class="fas fa-shopping-cart"></i>View Cart</a> </div>  
        <!--  <div class="success-message added-to-wishlist"> <a href="/pages/wishlist" class="btn"><i class="fa fa-heart"></i>View Wishlist</a></div>                -->
        </div>
      <a href="javascript:void(0)" class="close-modal"><i class="far fa-times-circle"></i></a>
       </div>    
  </div>
  <div class="newsletterwrapper">
    <div id="email-modal" style="display: none;">
      <div class="modal-overlay"></div>
      <div class="modal-window" style="display: none;">
        <div class="window-window">
            <a class="btn close" title="Close Window"></a>
            
             
           
            
              <div class="window-content">
            <div class="newsletter-title">
           <h2 class="title">Get to know the latest offers</h2>
            </div>
             <p class="message">Subscribe and get notified at first on the latest update and offers!</p>
            <div id="mailchimp-email-subscibe">
              <div id="mc_embed_signup">
                
  
  <form method="post" action="https://kure-demo.myshopify.com/contact#contact_form" id="contact_form" accept-charset="UTF-8" class="contact-form"><input type="hidden" name="form_type" value="customer" /><input type="hidden" name="utf8" value="✓" />
  
  
    <input type="email" value="" placeholder="Email address" name="contact[email]" class="mail" aria-label="Email address" >
    <input type="hidden" name="contact[tags]" value="newsletter">
    <button type="submit" class="btn" name="subscribe" value=""  id="subscribe" >Send</button>          
  
  
  
  </form>  
  
              </div>   
              <span>We do not spam</span>
            </div>   
          </div>
          
        </div>
      </div>
    </div>
  </div>  