<div id="PageContainer"></div>
<div class="quick-view"></div>
<nav class="cbp-spmenu cbp-spmenu-vertical cbp-spmenu-left " id="cbp-spmenu-s1">
   <div class="gf-menu-device-wrapper">
      <div class="close-menu">x</div>
      <div class="gf-menu-device-container"></div>
   </div>
</nav>
<div class="wrapper-container">
   <div class="header-type-9">
      <div class="">
         <div id="header-landing" class="sticky-animate">
            <div id="shopify-section-header-model-9" class="shopify-section">
               <div class="top_bar top-bar-type-9" style="background:#075ac9;">
                  <div class="container">
                     <div class="grid__item">
                        <div class="header_social top_bar_left">
                           <div class="grid__item wide--one-third post-large--one-third large--one-third medium--one-half small--one-half">
                              <ul class="menu_topbar_right grid__item">
                                 <li class="header_currency">
                                    <ul class="tbl-list">
                                       <li class="currency dropdown-parent uppercase currency-block">
                                          <div class="selector-arrow">
                                             <select class="currencies_src" id="currencies">
                                                <option data-currency="USD"  selected  value="USD">USD</option>
                                                <option data-currency="EUR"  value="EUR">EUR</option>
                                                <option data-currency="GBP"  value="GBP">GBP</option>
                                                <option data-currency="AUD"  value="AUD">AUD</option>
                                                <option data-currency="INR"  value="INR">INR</option>
                                                <option data-currency="JPY"  value="JPY">JPY</option>
                                                <option data-currency="CAD"  value="CAD">CAD</option>
                                                <option data-currency="CNY"  value="CNY">CNY</option>
                                                <option data-currency="AED"  value="AED">AED</option>
                                                <option data-currency="RUB"  value="RUB">RUB</option>
                                             </select>
                                          </div>
                                       </li>
                                    </ul>
                                 </li>
                              </ul>
                           </div>
                           <div class="grid__item wide--one-third post-large--one-third large--one-third medium-down--hide">
                              <ul class="menu_bar_left grid__item">
                                 <li class=" phone_txt"><span>Welcome to Kure-Demo.</span> </li>
                                 <li class="notification_text"><span ></span>
                                    <a class="link" href="all">Shop Now</a>      
                                 </li>
                              </ul>
                           </div>
                           <div class="grid__item wide--one-third post-large--one-third large--one-third medium--one-half small--one-half">
                              <ul class="menu_bar_left grid__item">
                                 <li class="medium-down--hide phone_no"><span>Call us: 0123-456-789</span></li>
                                 <li class="top-wish">
                                    <a href="../pages/wishlist"><i class="fa fa-heart"></i>Wishlist</a>
                                 </li>
                              </ul>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
               <app-header></app-header>
            </div>
            <div class="desktop-megamenu">
               <div id="shopify-section-navigation" class="shopify-section">
                  <div class="nav-bar-mobile">
                     <nav class="nav-bar" role="navigation">
                        <div class="site-nav-dropdown_inner">
                           <div class="menu-tool">
                              <ul class="site-nav">
                                 <li class=" ">
                                    <a  href="index.html" class="current">
                                    <span>         
                                    Trang chủ     
                                    </span>       
                                    </a> 	
                                 </li>
                                 <li class=" dropdown  mega-menu ">
                                    <a  [routerLink]="['/allproducts']" class="">
                                    <span>         
                                    Thương hiệu     
                                    </span>       
                                    </a> 	
                                    <div class="site-nav-dropdown">
                                       <div class="container   style_3">
                                          <div class="col-1 parent-mega-menu">
                                             <div class="inner col-xs-12 col-sm-4">
                                                <ul class="dropdown">
                                                   <!-- Menu level 3 -->
                                                   <li>
                                                      <a href="products/calories-meter" >
                                                      Bioderma 
                                                      </a>
                                                   </li>
                                                   <!-- Menu level 3 -->
                                                   <li>
                                                      <a href="products/calories-meter" >
                                                      Anessa 
                                                      </a>
                                                   </li>
                                                   <!-- Menu level 3 -->
                                                   <li>
                                                      <a href="products/calories-meter" >
                                                      Cosrx 
                                                      </a>
                                                   </li>
                                                   <!-- Menu level 3 -->
                                                   <li>
                                                      <a href="products/calories-meter" >
                                                      Dermalogica
                                                      </a>
                                                   </li>
                                                </ul>
                                             </div>
                                             <div class="inner col-xs-12 col-sm-4">
                                                <ul class="dropdown">
                                                   <!-- Menu level 3 -->
                                                   <li>
                                                      <a href="products/calories-meter" >
                                                      Exuviance
                                                      </a>
                                                   </li>
                                                   <!-- Menu level 3 -->
                                                   <li>
                                                      <a href="products/calories-meter" >
                                                      Paula's Choice
                                                      </a>
                                                   </li>
                                                   <!-- Menu level 3 -->
                                                   <li>
                                                      <a href="products/calories-meter" >
                                                      Klairs
                                                      </a>
                                                   </li>
                                                   <!-- Menu level 3 -->
                                                   <li>
                                                      <a href="products/calories-meter" >
                                                      L'oreal
                                                      </a>
                                                   </li>
                                                </ul>
                                             </div>
                                             <div class="inner col-xs-12 col-sm-4">
                                                <ul class="dropdown">
                                                   <!-- Menu level 3 -->
                                                   <li>
                                                      <a href="products/celsius-meter" >
                                                      La Roche-posay 
                                                      </a>
                                                   </li>
                                                   <!-- Menu level 3 -->
                                                   <li>
                                                      <a href="products/celsius-meter" >
                                                      Maybelline 
                                                      </a>
                                                   </li>
                                                   <!-- Menu level 3 -->
                                                   <li>
                                                      <a href="products/celsius-meter" >
                                                      Neostrata
                                                      </a>
                                                   </li>
                                                   <!-- Menu level 3 -->
                                                   <li>
                                                      <a href="products/celsius-meter" >
                                                      Obagi
                                                      </a>
                                                   </li>
                                                </ul>
                                             </div>
                                          </div>
                                          <div class="col-2">
                                             <div class="col-left">
                                                <div class="widget-featured-product ">
                                                   <div class="widget-product">
                                                      <div class="products-grid">
                                                         <div class="grid-item product-item " id="product-2241007353920">
                                                            <a href="products/digital-pressure-machine" class="product-grid-image">
                                                            <img src="https://cdn.shopify.com/s/files/1/0188/0503/0976/products/pdt2_large.jpg?v=1547027949" alt="Digital Pressure Machine">
                                                            </a>
                                                            <div class="details">
                                                               <a class="product-title" href="products/digital-pressure-machine">      
                                                               Digital Pressure Machine      
                                                               </a>
                                                               <span class="shopify-product-reviews-badge" data-id="2241007353920"></span>
                                                               <div class="price-box">
                                                                  <p class="regular-product">
                                                                     <span><span class=money>$329.00</span></span>
                                                                  </p>
                                                               </div>
                                                            </div>
                                                         </div>
                                                      </div>
                                                   </div>
                                                </div>
                                             </div>
                                             <div class="col-right">
                                                <a href="index.html" title="">
                                                <img src="https://cdn.shopify.com/s/files/1/0188/0503/0976/files/megamenu2_2000x.jpg?v=1574920936" alt="" />
                                                </a>
                                             </div>
                                          </div>
                                       </div>
                                    </div>
                                 </li>
                                 <li class=" dropdown  mega-menu ">
                                    <a  [routerLink]="['/allproducts']" class="">
                                    <span>         
                                    Skin Care     
                                    </span>       
                                    </a> 	
                                    <div class="site-nav-dropdown">
                                       <div class="container   style_3">
                                          <div class="col-1 parent-mega-menu">
                                             <div class="inner col-xs-12 col-sm-4">
                                                <!-- Menu level 2 -->
                                                <a  href="products/calories-meter" class=" ">
                                                LÀM SẠCH & TẨY DA CHẾT 
                                                </a>
                                                <ul class="dropdown">
                                                   <!-- Menu level 3 -->
                                                   <li>
                                                      <a href="products/calories-meter" >
                                                      Tẩy trang 
                                                      </a>
                                                   </li>
                                                   <!-- Menu level 3 -->
                                                   <li>
                                                      <a href="products/calories-meter" >
                                                      Sửa rửa mặt 
                                                      </a>
                                                   </li>
                                                   <!-- Menu level 3 -->
                                                   <li>
                                                      <a href="products/calories-meter" >
                                                      Toner & Xịt khoáng 
                                                      </a>
                                                   </li>
                                                   <!-- Menu level 3 -->
                                                   <li>
                                                      <a href="products/calories-meter" >
                                                      Tẩy da chết
                                                      </a>
                                                   </li>
                                                </ul>
                                             </div>
                                             <div class="inner col-xs-12 col-sm-4">
                                                <!-- Menu level 2 -->
                                                <a  href="products/cleaning-scissor" class=" ">
                                                ĐẶC TRỊ
                                                </a>
                                                <ul class="dropdown">
                                                   <!-- Menu level 3 -->
                                                   <li>
                                                      <a href="products/calories-meter" >
                                                      Phục hồi da
                                                      </a>
                                                   </li>
                                                   <!-- Menu level 3 -->
                                                   <li>
                                                      <a href="products/calories-meter" >
                                                      Điều trị mụn
                                                      </a>
                                                   </li>
                                                   <!-- Menu level 3 -->
                                                   <li>
                                                      <a href="products/calories-meter" >
                                                      Thu nhỏ lỗ chân lông
                                                      </a>
                                                   </li>
                                                   <!-- Menu level 3 -->
                                                   <li>
                                                      <a href="products/calories-meter" >
                                                      Dưỡng sáng/Làm trắng
                                                      </a>
                                                   </li>
                                                </ul>
                                             </div>
                                             <div class="inner col-xs-12 col-sm-4">
                                                <!-- Menu level 2 -->
                                                <a  href="products/calories-meter" class=" ">
                                                CẤP ẨM - KHÓA ẨM 
                                                </a>
                                                <ul class="dropdown">
                                                   <!-- Menu level 3 -->
                                                   <li>
                                                      <a href="products/celsius-meter" >
                                                      Kem dưỡng ẩm 
                                                      </a>
                                                   </li>
                                                   <!-- Menu level 3 -->
                                                   <li>
                                                      <a href="products/celsius-meter" >
                                                      Dầu dưỡng ẩm 
                                                      </a>
                                                   </li>
                                                   <!-- Menu level 3 -->
                                                   <li>
                                                      <a href="products/celsius-meter" >
                                                      Kem đêm
                                                      </a>
                                                   </li>
                                                   <!-- Menu level 3 -->
                                                   <li>
                                                      <a href="products/celsius-meter" >
                                                      Kem ngày
                                                      </a>
                                                   </li>
                                                </ul>
                                             </div>
                                             <div class="inner col-xs-12 col-sm-4">
                                                <!-- Menu level 2 -->
                                                <a  href="products/calories-meter" class=" ">
                                                CHỐNG NẮNG 
                                                </a>
                                                <ul class="dropdown">
                                                   <!-- Menu level 3 -->
                                                   <li>
                                                      <a href="products/celsius-meter" >
                                                      Vật lý 
                                                      </a>
                                                   </li>
                                                   <!-- Menu level 3 -->
                                                   <li>
                                                      <a href="products/celsius-meter" >
                                                      Hóa học
                                                      </a>
                                                   </li>
                                                   <!-- Menu level 3 -->
                                                   <li>
                                                      <a href="products/celsius-meter" >
                                                      Vật lý lai hóa học
                                                      </a>
                                                   </li>
                                                   <!-- Menu level 3 -->
                                                   <li>
                                                      <a href="products/celsius-meter" >
                                                      Có màu
                                                      </a>
                                                   </li>
                                                </ul>
                                             </div>
                                             <div class="inner col-xs-12 col-sm-4">
                                                <!-- Menu level 2 -->
                                                <a  href="products/calories-meter" class=" ">
                                                MẮT & MÔI & CỔ
                                                </a>
                                                <ul class="dropdown">
                                                   <!-- Menu level 3 -->
                                                   <li>
                                                      <a href="products/celsius-meter" >
                                                      Giảm quầng thâm mắt 
                                                      </a>
                                                   </li>
                                                   <!-- Menu level 3 -->
                                                   <li>
                                                      <a href="products/celsius-meter" >
                                                      Giảm nếp nhăn mắt 
                                                      </a>
                                                   </li>
                                                   <!-- Menu level 3 -->
                                                   <li>
                                                      <a href="products/celsius-meter" >
                                                      Dưỡng môi 
                                                      </a>
                                                   </li>
                                                   <!-- Menu level 3 -->
                                                   <li>
                                                      <a href="products/celsius-meter" >
                                                      Dưỡng cổ 
                                                      </a>
                                                   </li>
                                                </ul>
                                             </div>
                                             <div class="inner col-xs-12 col-sm-4">
                                                <!-- Menu level 2 -->
                                                <a  href="products/calories-meter" class=" ">
                                                MẶT NẠ
                                                </a>
                                                <ul class="dropdown">
                                                   <!-- Menu level 3 -->
                                                   <li>
                                                      <a href="products/celsius-meter" >
                                                      Mặt nạ giấy 
                                                      </a>
                                                   </li>
                                                   <li>
                                                      <a href="products/celsius-meter" >
                                                      Mặt nạ dạng rửa 
                                                      </a>
                                                   </li>
                                                   <li>
                                                      <a href="products/celsius-meter" >
                                                      Mặt nạ lột 
                                                      </a>
                                                   </li>
                                                   <li>
                                                      <a href="products/celsius-meter" >
                                                      Mặt nạ ngủ
                                                      </a>
                                                   </li>
                                                </ul>
                                             </div>
                                          </div>
                                          <div class="col-2">
                                             <div class="col-left">
                                                <div class="widget-featured-product ">
                                                   <div class="widget-product">
                                                      <div class="products-grid">
                                                         <div class="grid-item product-item " id="product-2241007353920">
                                                            <a href="products/digital-pressure-machine" class="product-grid-image">
                                                            <img src="https://cdn.shopify.com/s/files/1/0188/0503/0976/products/pdt2_large.jpg?v=1547027949" alt="Digital Pressure Machine">
                                                            </a>
                                                            <div class="details">
                                                               <a class="product-title" href="products/digital-pressure-machine">      
                                                               Digital Pressure Machine      
                                                               </a>
                                                               <span class="shopify-product-reviews-badge" data-id="2241007353920"></span>
                                                               <div class="price-box">
                                                                  <p class="regular-product">
                                                                     <span><span class=money>$329.00</span></span>
                                                                  </p>
                                                               </div>
                                                            </div>
                                                         </div>
                                                      </div>
                                                   </div>
                                                </div>
                                             </div>
                                             <div class="col-right">
                                                <a href="index.html" title="">
                                                <img src="https://cdn.shopify.com/s/files/1/0188/0503/0976/files/megamenu2_2000x.jpg?v=1574920936" alt="" />
                                                </a>
                                             </div>
                                          </div>
                                       </div>
                                    </div>
                                 </li>
                                 <li class=" dropdown  mega-menu ">
                                    <a  [routerLink]="['/blogs']" class="">
                                    <span>         
                                    Blogs     
                                    </span>       
                                    </a> 	
                                    <div class="site-nav-dropdown">
                                       <div class="container   style_5">
                                          <div class="col-1 parent-mega-menu">
                                             <div class="inner col-xs-12 col-sm-4">
                                                <!-- Menu level 2 -->
                                                <a  href="products/calories-meter" class=" ">
                                                Lời khuyên bác sĩ 
                                                </a>
                                                <ul class="dropdown">
                                                   <!-- Menu level 3 -->
                                                   <li>
                                                      <a href="products/celsius-meter" >
                                                      Thói quen sinh hoạt 
                                                      </a>
                                                   </li>
                                                   <!-- Menu level 3 -->
                                                   <li>
                                                      <a href="products/cleaning-scissor" >
                                                      Quy trình trị mụn 
                                                      </a>
                                                   </li>
                                                   <!-- Menu level 3 -->
                                                   <li>
                                                      <a href="products/cleaning-scissor" >
                                                      Quy trình trị thâm sau mụn 
                                                      </a>
                                                   </li>
                                                   <!-- Menu level 3 -->
                                                   <li>
                                                      <a href="products/cleaning-scissor" >
                                                      Dưỡng da 
                                                      </a>
                                                   </li>
                                                </ul>
                                             </div>
                                             <div class="inner col-xs-12 col-sm-4">
                                                <!-- Menu level 2 -->
                                                <a  href="products/celsius-meter" class=" ">
                                                Cảm nhận sản phẩm 
                                                </a>
                                                <ul class="dropdown">
                                                   <!-- Menu level 3 -->
                                                   <li>
                                                      <a href="products/cleaning-scissor" >
                                                      Sản phẩm mới 
                                                      </a>
                                                   </li>
                                                   <!-- Menu level 3 -->
                                                   <li>
                                                      <a href="products/celsius-meter" >
                                                      Sản phẩm an toàn 
                                                      </a>
                                                   </li>
                                                   <!-- Menu level 3 -->
                                                   <li>
                                                      <a href="products/calories-meter" >
                                                      Sản phẩm tốt 
                                                      </a>
                                                   </li>
                                                   <!-- Menu level 3 -->
                                                   <li>
                                                      <a href="products/cleaning-scissor" >
                                                      Sản phẩm cần tránh 
                                                      </a>
                                                   </li>
                                                </ul>
                                             </div>
                                             <div class="inner col-xs-12 col-sm-4">
                                                <!-- Menu level 2 -->
                                                <a  href="products/cleaning-scissor" class=" ">
                                                Đánh giá của người dùng 
                                                </a>
                                                <ul class="dropdown">
                                                   <!-- Menu level 3 -->
                                                   <li>
                                                      <a href="products/calories-meter" >
                                                      Về các sản phẩm mới 
                                                      </a>
                                                   </li>
                                                   <!-- Menu level 3 -->
                                                   <li>
                                                      <a href="products/cleaning-scissor" >
                                                      Về thói quen sinh hoạt 
                                                      </a>
                                                   </li>
                                                   <!-- Menu level 3 -->
                                                   <li>
                                                      <a href="products/digital-thermometer" >
                                                      Về các nhãn hàng 
                                                      </a>
                                                   </li>
                                                   <!-- Menu level 3 -->
                                                   <li>
                                                      <a href="products/dental-floss-box" >
                                                      Về xu hướng chăm sóc da 
                                                      </a>
                                                   </li>
                                                </ul>
                                             </div>
                                             <div class="inner col-xs-12 col-sm-4">
                                                <!-- Menu level 2 -->
                                                <a  href="products/celsius-meter" class=" ">
                                                Các shop & spa uy tín 
                                                </a>
                                                <ul class="dropdown">
                                                   <!-- Menu level 3 -->
                                                   <li>
                                                      <a href="products/calories-meter" >
                                                      Điều trị mụn
                                                      </a>
                                                   </li>
                                                   <!-- Menu level 3 -->
                                                   <li>
                                                      <a href="products/cleaning-scissor" >
                                                      Điều trị thâm/sẹo sau mụn
                                                      </a>
                                                   </li>
                                                   <!-- Menu level 3 -->
                                                   <li>
                                                      <a href="products/dental-floss-box" >
                                                      Giảm nếp nhăn, chống lão hóa 
                                                      </a>
                                                   </li>
                                                   <!-- Menu level 3 -->
                                                   <li>
                                                      <a href="products/dental-floss-box" >
                                                      Dưỡng da/phục hồi 
                                                      </a>
                                                   </li>
                                                </ul>
                                             </div>
                                          </div>
                                          <div class="col-wide">
                                             <div class="bottom_left">          
                                                <a href="index.html" title="">
                                                <img src="https://cdn.shopify.com/s/files/1/0188/0503/0976/files/menu-4-2_2000x.jpg?v=1551771108" alt="" />
                                                </a>
                                             </div>
                                             <div class="bottom_right">          
                                                <a href="index.html" title="">
                                                <img src="https://cdn.shopify.com/s/files/1/0188/0503/0976/files/menu-4-1_2000x.jpg?v=1551771113" alt="" />
                                                </a>
                                             </div>
                                          </div>
                                       </div>
                                    </div>
                                 </li>
                                 <li class=" dropdown  mega-menu ">
                                    <a  href="collections/new-offers" class="">
                                    <span>         
                                    Tìm kiếm    
                                    </span>       
                                    </a> 	
                                    <div class="site-nav-dropdown">
                                       <div class="container   style_2">
                                          <div class="col-1 parent-mega-menu">
                                             <div class="inner col-xs-12 col-sm-4">
                                                <!-- Menu level 2 -->
                                                <a  [routerLink]="['/searchproducts']" class=" ">
                                                Tìm sản phẩm 
                                                </a>
                                             </div>
                                             <div class="inner col-xs-12 col-sm-4">
                                                <!-- Menu level 2 -->
                                                <a  [routerLink]="['/searchingredients']" class=" ">
                                                Tra cứu thành phần 
                                                </a>
                                             </div>
                                             <div class="inner col-xs-12 col-sm-4">
                                                <!-- Menu level 2 -->
                                                <a  [routerLink]="['/searchblogs']" class=" ">
                                                Tìm kiếm Blogs
                                                </a>
                                             </div>
                                          </div>
                                          <div class="col-2">
                                             <a href="index.html" title="">
                                             <img src="https://cdn.shopify.com/s/files/1/0188/0503/0976/files/megamenu1_2000x.jpg?v=1574920834" alt="" />
                                             </a>
                                          </div>
                                       </div>
                                    </div>
                                 </li>
                                 <li class="">
                                    <a class="menu__moblie"  [routerLink]="['/declare']" class="">
                                    <span>         
                                    Khai báo da      
                                    </span>       
                                    </a> 	
                                 </li>
                              </ul>
                           </div>
                        </div>
                     </nav>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>
<main class="main-content">
   <div class="section-header section-header--small wow fadeInDown animated ">
      <div class="border-title">
         <h2 class="section-header__title" style="color:rgb(128, 9, 88);" class="site-menu2">    
            Products
         </h2>
        
      </div>
   </div>
   <div class="grid-uniform">
      <div class="products-grid-view">
<ul>
   <li class="grid__item item-row  wide--one-quarter post-large--one-third large--one-half medium--one-half small-grid__item  medium--one-half small--one-half  " id="product-2240996147264" *ngFor="let product of productlist">
      <div class="products product-hover-9">
         <div class="product-container">
            <a (click)="this.getNavigation(product.ID3code)" [routerLink]="['/productdetails/:', product.ID3code]" class="grid-link">
               <div class="ImageOverlayCa"></div>
               <img [src]="this.getImageSource(product.Image)" style="height: 200px;width: 200px;" class="featured-image" alt="Calories Meter">
            </a>
            <div class="product_right_tag  ">
            </div>
            
         </div>
         <div class="product-detail">
            <a href="https://kure-demo.myshopify.com/collections/all/products/calories-meter" class="grid-link__title">{{product.NameProduct}}</a> 
            <div class="grid-link__meta">
               <div class="product_price">
                  <div class="grid-link__org_price" id="ProductPrice">
                     <span> <span class=money><i class="fas fa-seedling"></i> {{product.PointProduct}}</span></span>
                  </div>
               </div>
            </div>
            <form  action="https://kure-demo.myshopify.com/cart/add" method="post" class="variants clearfix" id="cart-form-2240996147264">                                    
               <input type="hidden" name="id" value="21095997964352" />  
               <a href="{{product.Linktobuy}}" class="add-cart-btn btn">
               <i class="fas fa-shopping-cart"></i>Link to buy
               </a>
            </form>
         </div>
      </div>
   </li>
   
  
</ul>
</div>
   </div>
</main>
<div id="shopify-section-footer-model-5" class="shopify-section">
   <div data-section-id="footer-model-5"  data-section-type="Footer-model-5" class="footer-model-5">
      <app-footer></app-footer>
   </div>
</div>
<!-- Begin quick-view-template -->
<div class="clearfix" id="quickview-template" style="display:none">
   <div class="overlay"></div>
   <div class="content clearfix">
      <div class="product-img images">
         <div class="quickview-featured-image product-photo-container"></div>
         <div class="more-view-wrapper">
            <ul class="product-photo-thumbs quickview-more-views-owlslider owl-carousel owl-theme">
            </ul>
            <div class="quick-view-carousel"></div>
         </div>
      </div>
      <div class="product-shop summary">
         <div class="product-item product-detail-section">
            <h2 class="product-title"><a>&nbsp;</a></h2>
            <p class="item-text product-description"></p>
            <div class="prices product_price">
               <label>Effective Price :</label>
               <div class="price h4" id="QProductPrice"></div>
               <div class="compare-price" id="QComparePrice"></div>
            </div>
            <div class="product-infor">
               <p class="product-inventory"><label>Availability :</label><span></span></p>
            </div>
            <div class="details clearfix">
               <form action="https://kure-demo.myshopify.com/cart/add" method="post" class="variants">
                  <select name='id' style="display:none"></select>
                  <div class="qty-section quantity-box">
                     <label>Quantity :</label>
                     <div class="dec button qtyminus">-</div>
                     <input type="number" name="quantity" id="Qty" value="1" class="quantity">
                     <div class="inc button qtyplus">+</div>
                  </div>
                  <div class="total-price">
                     <label>Subtotal :</label><span class="h5"></span>
                  </div>
                  <div class="actions">
                     <button type="button" class="add-to-cart-btn btn">
                     Add to Cart
                     </button>
                  </div>
               </form>
            </div>
         </div>
      </div>
      <a href="javascript:void(0)" class="close-window"></a> 
   </div>
</div>
<!-- End of quick-view-template -->
<div class="loading-modal compare_modal">Loading</div>
<div class="ajax-success-compare-modal compare_modal" id="moda-compare" tabindex="-1" role="dialog" style="display:none">
   <div class="overlay"> </div>
   <div class="modal-dialog modal-lg">
      <div class="modal-content content" id="compare-modal">
         <div class="modal-header">
            <h4 class="modal-title">Compare Products</h4>
         </div>
         <div class="modal-body">
            <div class="table-wrapper">
               <table class="table table-hover">
                  <thead>
                     <tr class="th-compare">
                        <th></th>
                     </tr>
                  </thead>
                  <tbody id="table-compare">
                  </tbody>
               </table>
            </div>
         </div>
         <div class="modal-footer">
            <a href="javascript:void(0)" class="close-modal"><i class="far fa-times-circle"></i></a>
         </div>
      </div>
   </div>
</div>
<div class="loading-modal modal">Loading</div>
<div class="ajax-error-modal modal">
   <div class="modal-inner">
      <div class="ajax-error-title">Error</div>
      <div class="ajax-error-message"></div>
   </div>
</div>
<div class="ajax-success-modal modal">
   <div class="overlay"></div>
   <div class="content">
      <div class="ajax-left">
         <p class="added-to-cart info">Product successfully added to your shopping cart</p>
         <p class="added-to-wishlist info">translation missing: en.products.wishlist.added_to_wishlist</p>
         <img class="ajax-product-image" alt="modal window" src="../index.html" />
         <div class="ajax-cart-desc">
            <h3 class="ajax-product-title"></h3>
            <span class="ajax_price"></span>
            <p>Qty:&nbsp;<span class="ajax_qty"></span></p>
         </div>
      </div>
      <div class="ajax-right">
         <p>There are <span class="ajax_cartCount"></span>&nbsp;item(s) in your cart</p>
         <span class="ajax_cartTotal"></span>
         <button class="btn continue-shopping" onclick="javascript:void(0)">Continue shopping</button>
         <div class="success-message added-to-cart"><a href="https://kure-demo.myshopify.com/cart" class="btn"><i class="fas fa-shopping-cart"></i>View Cart</a> </div>
         <!--  <div class="success-message added-to-wishlist"> <a href="/pages/wishlist" class="btn"><i class="fa fa-heart"></i>View Wishlist</a></div>                -->
      </div>
      <a href="javascript:void(0)" class="close-modal"><i class="far fa-times-circle"></i></a>
   </div>
</div>
<div class="newsletterwrapper">
   <div id="email-modal" style="display: none;">
      <div class="modal-overlay"></div>
      <div class="modal-window" style="display: none;">
         <div class="window-window">
            <a class="btn close" title="Close Window"></a>
            <div class="window-content">
               <div class="newsletter-title">
                  <h2 class="title">Get to know the latest offers</h2>
               </div>
               <p class="message">Subscribe and get notified at first on the latest update and offers!</p>
               <div id="mailchimp-email-subscibe">
                  <div id="mc_embed_signup">
                     <form method="post" action="https://kure-demo.myshopify.com/contact#contact_form" id="contact_form" accept-charset="UTF-8" class="contact-form"><input type="hidden" name="form_type" value="customer" /><input type="hidden" name="utf8" value="✓" />
                        <input type="email" value="" placeholder="Email address" name="contact[email]" class="mail" aria-label="Email address" >
                        <input type="hidden" name="contact[tags]" value="newsletter">
                        <button type="submit" class="btn" name="subscribe" value=""  id="subscribe" >Send</button>          
                     </form>
                  </div>
                  <span>We do not spam</span>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>