<h2><strong>ADD TRÀ VẢI</strong></h2>
<form class="example-form">
    
    <mat-form-field class="example-full-width">
        <mat-label>Name</mat-label>
        <input matInput placeholder="Ex. Vung Tau Trip" name="Name" type="text" id="input" required="required" [(ngModel)]="this.product.NameProduct" [ngModelOptions]="{standalone: true}">
    </mat-form-field>
    <mat-form-field class="example-full-width">
        <mat-label>Point</mat-label>
        <input matInput placeholder="Ex. Vung Tau Trip" name="Point" type="text" id="input" required="required" [(ngModel)]="this.product.PointProduct" [ngModelOptions]="{standalone: true}">
    </mat-form-field>
    <mat-form-field class="example-full-width">
        <mat-label>Description</mat-label>
        <textarea style="height: 100px;" name="Description" type="text" id="input" required="required" [(ngModel)]="this.product.Description" [ngModelOptions]="{standalone: true}" matInput placeholder="Ex. It makes me feel..."></textarea>
    </mat-form-field>
    <div class="form-group">
        <h2>Image</h2>
        <img [src]="url" height="200"> <br/>
        <input type='file' accept="image/*" (change)="onSelectFile($event)">
     </div>
    <mat-label><strong>IDBrand</strong></mat-label>
    <br/>
    <select id="input" required="required" [(ngModel)]="this.product.IDBrand" [ngModelOptions]="{standalone: true}">
        <option value="paula2020">paula2020</option>
        <option value="laroche2020">laroche2020</option>
        <option value="anessa2020">anessa2020</option>
    </select>
    <br/>

    <mat-label><strong>IDSkintype</strong></mat-label>
    <br/>
    <select id="input" required="required" [(ngModel)]="this.product.IDSkintype" [ngModelOptions]="{standalone: true}">
        <option value="dadau">dadau</option>
        <option value="danhaycam">danhaycam</option>
        <option value="dakho">dakho</option>
    </select>
    <br/> 

    <mat-label><strong>DisabledPro</strong></mat-label>
    <br/>
    <select id="input" required="required" [(ngModel)]="this.product.DisabledPro" [ngModelOptions]="{standalone: true}">
        <option value="true">true</option>
        <option value="false">false</option>
    </select> 
</form>
<br>
<br>
<div mat-dialog-actions class="myDiv">
    <button class="btn btn-primary" mat-button (click)="onSave()">Save</button>
    <button class="btn btn-danger left" mat-button (click)="onNoClick()">Cancel</button>
</div>