<h2><strong>THÊM SẢN PHẨM</strong></h2>
<form class="example-form">
    <div class="row">
        <div class="col-md-12">
          <div class="form-group">
            <label><strong>TÊN SẢN PHẨM</strong></label>
            <mat-form-field class="example-full-width">
                
                <input type="text" class="form-control" required="required" [(ngModel)]="this.product.NameProduct" [ngModelOptions]="{standalone: true}">
            </mat-form-field>
          </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
          <div class="form-group">
            <label><strong>CHỈ SỐ KÍCH ỨNG</strong></label>
            <mat-form-field class="example-full-width">
                
                <input type="text" class="form-control" required="required" [(ngModel)]="this.product.PointProduct" [ngModelOptions]="{standalone: true}">
            </mat-form-field>
          </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
          <div class="form-group">
            <label><strong>MÔ TẢ SẢN PHẨM</strong></label>
            <mat-form-field class="example-full-width">
                
                <textarea style="height: 300px;" name="Description" type="text" id="input" required="required" [(ngModel)]="this.product.Description" [ngModelOptions]="{standalone: true}" matInput ></textarea>
            </mat-form-field>
          </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
          <div>
            <label><strong>THÊM HÌNH ẢNH</strong></label>
            <div>
            
                <img [src]="url" height="200"> <br/>
                <input type='file' accept="image/*" (change)="onSelectFile($event)">
            </div>
          </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <mat-label><strong>THƯƠNG HIỆU</strong></mat-label>
            <br/>
            <select required="required" [(ngModel)]="this.product.IDBrand" [ngModelOptions]="{standalone: true}">
                <option value="paula2020">Paula's Choice</option>
                <option value="laroche2020">Laroche Posay</option>
                <option value="anessa2020">Anessa</option>
                <option value="bioderma2020">Bioderma</option>
                <option value="cosrx2020">Cosrx</option>
                <option value="dermalogica2020">Dermalogica</option>
                <option value="exuviance2020">Exuviance</option>
                <option value="klairs2020">Klairs</option>
                <option value="loreal2020">L'oreal</option>
                <option value="maybelline2020">Maybelline</option>
                <option value="neostrata2020">Neostrata</option>
                <option value="obagi2020">Obagi</option>
            </select>
            <br/>
          </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
            <mat-label><strong>ID LOẠI SẢN PHẨM</strong></mat-label>
            <br/>
            <select required="required" [(ngModel)]="this.product.IDProductType" [ngModelOptions]="{standalone: true}">
                <option value="lamsach">Làm sạch</option>
                <option value="duongam">Dưỡng ẩm</option>
                <option value="kemcn">Chống nắng</option>
                <option value="dactri">Đặc trị</option>
            </select>
            <br/>
            </div>
        </div>
        
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="form-group">
          <label><strong>LOẠI SẢN PHẨM</strong></label>
          <mat-form-field class="example-full-width">
              
              <input type="text" class="form-control" required="required" [(ngModel)]="this.product.NameProductType" [ngModelOptions]="{standalone: true}">
          </mat-form-field>
        </div>
      </div>
  </div>
    <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <mat-label><strong>LOẠI DA PHÙ HỢP</strong></mat-label>
            <br/>
            <select required="required" [(ngModel)]="this.product.IDSkintype" [ngModelOptions]="{standalone: true}">
                <option value="dadau"> Da dầu</option>
                <option value="danhaycam"> Da nhạy cảm</option>
                <option value="dakho"> Da khô</option>
                <option value="dahh"> Da hỗn hợp</option>
            </select>
            <br/> 
          </div>
        </div>
            <div class="col-md-6">
              <div class="form-group">
                <mat-label><strong>TÌNH TRẠNG KINH DOANH</strong></mat-label>
                <br/>
                <select required="required" [(ngModel)]="this.product.DisabledPro" [ngModelOptions]="{standalone: true}">
                    <option value="true">Ngừng kinh doanh</option>
                    <option value="false">Đang kinh doanh</option>
                </select> 
              </div>
            </div>
    </div>
    <div class="row">
        <div class="col-md-12">
          <div class="form-group">
            <label><strong>LINK MUA HÀNG</strong></label>
            <mat-form-field class="example-full-width">
                <textarea style="height: 300px;" name="Linktobuy" type="text" id="input" required="required" [(ngModel)]="this.product.Linktobuy" [ngModelOptions]="{standalone: true}" matInput ></textarea>
            </mat-form-field>
          </div>
        </div>
    </div>
    <button class="btn btn-primary" mat-button (click)="onSave()">Save</button>
    <button class="btn btn-danger right" mat-button (click)="onNoClick()">Cancel</button>
</form>
