<footer class="site-footer grid-uniform"   style="background-color:#fafafa;" >
    <div class="grid__item wide--two-fifths post-large--two-fifths large--two-fifths medium--grid__item" style="position:relative;margin:0;">
       <div class="footer-logo my_element">
          <div class="footer_container">
             <a href="index.html">
             <img  class="normal-footer-logo" src="https://cdn.shopify.com/s/files/1/0188/0503/0976/files/kure-logo_200x.png?v=1551445618" alt="Kure" />
             </a>
             <p style="color:#444444;">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. <br><br>Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.</p>
             <div class="payment_section">
                <h4 style="color:#444444;">Payment Method</h4>
                <p style="color:#444444;">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diamLorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam</p>
                <div class="footer-icons">
                   <ul class="inline-list payment-icons">
                      <li><a href="https://kure-demo.myshopify.com/cart"><img src="https://cdn.shopify.com/s/files/1/0188/0503/0976/files/card-icons_0021_2_small.png?v=1547099615" alt="payment_icon_1" /></a></li>
                      <li><a href="https://kure-demo.myshopify.com/cart"><img src="https://cdn.shopify.com/s/files/1/0188/0503/0976/files/card-icons_0023_1_small.png?v=1547099622" alt="payment_icon_2" /></a></li>
                      <li><a href="https://kure-demo.myshopify.com/cart"><img src="https://cdn.shopify.com/s/files/1/0188/0503/0976/files/card-icons_0000_23_small.png?v=1547099628" alt="payment_icon_3" /></a></li>
                      <li><a href="https://kure-demo.myshopify.com/cart"><img src="https://cdn.shopify.com/s/files/1/0188/0503/0976/files/card-icons_0011_12_small.png?v=1547099640" alt="payment_icon_4" /></a></li>
                   </ul>
                </div>
             </div>
          </div>
       </div>
    </div>
    <div class="grid__item wide--three-fifths post-large--three-fifths large--three-fifths medium--grid__item">
       <div class="footer_right_width" style="background:#075ac9">
          <div class="footer_right_container">
             <div class="grid__item">
                <div class="grid__item wide--one-third post-large--one-third large--one-third medium--one-third">
                   <h4 style="color:#ffffff;">Connect with us</h4>
                   <ul class="social-links-type-5">
                      <li>
                         <a style="color:#ffffff;" class="icon-fallback-text twitt hexagon" target="blank" href="https://twitter.com/shopify" title="Twitter">
                         <i class="fab fa-twitter" aria-hidden="true"></i>
                         <span> Follow us on Twitter</span>
                         </a>
                      </li>
                      <li>
                         <a style="color:#ffffff;" class="icon-fallback-text fb hexagon" target="blank" href="https://www.facebook.com/shopify" title="Facebook">
                         <i class="fab fa-facebook" aria-hidden="true"></i>
                         <span>Follow us on Facebook</span>
                         </a>
                      </li>
                      <li>
                         <a style="color:#ffffff;" class="icon-fallback-text google hexagon" target="blank" href="index.html#" title="Google+" rel="publisher">
                         <i class="fab fa-google-plus-g" aria-hidden="true"></i>
                         <span>Follow us on Google+</span>
                         </a>
                      </li>
                      <li>
                         <a style="color:#ffffff;" class="icon-fallback-text tumblr" target="blank" href="index.html#" title="Tumblr">
                         <i class="fab fa-tumblr" aria-hidden="true"></i>
                         <span> Follow us on Tumblr</span>
                         </a>
                      </li>
                   </ul>
                </div>
                <div class="grid__item wide--one-third post-large--one-third large--one-third medium--one-third">
                   <h4 style="color:#ffffff;">Help</h4>
                   <ul class="site-footer__links">
                      <li><a style="color:#ffffff;" href="https://kure-demo.myshopify.com/search">Search</a></li>
                      <li><a style="color:#ffffff;" href="https://kure-demo.myshopify.com/search">Help</a></li>
                      <li><a style="color:#ffffff;" href="pages/contact-us">Information</a></li>
                      <li><a style="color:#ffffff;" href="pages/about-us">Privacy Policy</a></li>
                      <li><a style="color:#ffffff;" href="pages/shipping-details">Shipping Details</a></li>
                   </ul>
                </div>
                <div class="grid__item wide--one-third post-large--one-third large--one-third medium--one-third">
                   <h4 style="color:#ffffff;">Support</h4>
                   <ul class="site-footer__links">
                      <li><a style="color:#ffffff;" href="pages/contact-us">Contact us</a></li>
                      <li><a style="color:#ffffff;" href="pages/about-us">About us</a></li>
                      <li><a style="color:#ffffff;" href="pages/faqs">Careers</a></li>
                      <li><a style="color:#ffffff;" href="pages/shipping-details">Refunds & Returns</a></li>
                      <li><a style="color:#ffffff;" [routerLink]="['/wishlist']">Deliveries</a></li>
                   </ul>
                </div>
             </div>
             <div class="grid__item">
                <div class="grid__item wide--one-third post-large--one-third large--one-third medium--one-third">
                   <h4 style="color:#ffffff;">Information</h4>
                   <ul class="site-footer__links">
                      <li><a style="color:#ffffff;" href="https://kure-demo.myshopify.com/search">Search Terms</a></li>
                      <li><a style="color:#ffffff;" href="https://kure-demo.myshopify.com/search">Advanced Search</a></li>
                      <li><a style="color:#ffffff;" href="pages/faqs">Help & Faq's</a></li>
                      <li><a style="color:#ffffff;" href="pages/contact-us">Store Location</a></li>
                      <li><a style="color:#ffffff;" href="pages/shipping-details">Orders & Returns</a></li>
                   </ul>
                </div>
                <div class="grid__item wide--two-thirds post-large--two-thirds large--two-thirds medium--two-thirds">
                   <h4 style="color:#ffffff;">Contact us</h4>
                   <div class="address" style="color:rgb(69, 206, 160);">
                      <p style="color:#ffffff;">
                         <i class="fa fa-home" style="background:#35c7df;color:#ffffff;"></i>
                         Address : No 40 Baria Sreet 133/2 NewYork City, NY, United States.
                      </p>
                      <p style="color:#ffffff;">
                         <i style="margin-top:12px;background:#35c7df;color:#ffffff;" class="fa fa-phone"></i>Phone 1 : 0123456789 <br> Phone 2 : 0123456789
                      </p>
                   </div>
                   <p style="color:#ffffff; display:inline-block; "> Email:</p>
                   <a style="color:#ffffff;" href="mailto:support@lovefashion.com" style="color:rgb(69, 206, 160);"><i style="background:#35c7df;color:#ffffff;"class="fa fa-envelope"></i>support@lovefashion.com</a>
                </div>
             </div>
             <div class="footer-menu">
                <p style="color:#ffffff;" class="copyright-type__5">Copyright &copy; 2020, Kure
                   <a target="_blank" rel="nofollow" href="https://www.shopify.com?utm_campaign=poweredby&amp;utm_medium=shopify&amp;utm_source=onlinestore">Powered by Shopify</a>
                </p>
             </div>
          </div>
       </div>
    </div>
 </footer>