<footer class="site-footer grid-uniform"   style="background-color:#fafafa;" >
    <div class="grid__item wide--two-fifths post-large--two-fifths large--two-fifths medium--grid__item" style="position:relative;margin:0;">
       <div class="footer-logo my_element">
          <div class="footer_container">
             <a >
             <img  class="normal-footer-logo" src="/assets/images/logo.png">
         
             </a>
             
          </div>
       </div>
    </div>
    <div class="grid__item wide--three-fifths post-large--three-fifths large--three-fifths medium--grid__item">
       <div class="footer_right_width" style="background:#075ac9">
          <div class="footer_right_container">
             
             <div class="grid__item">
                
                <div class="grid__item wide--two-thirds post-large--two-thirds large--two-thirds medium--two-thirds">
                   <h4 style="color:#ffffff;">LIÊN HỆ</h4>
                   <div class="address" style="color:rgb(69, 206, 160);">
                      <p style="color:#ffffff;">
                         <i class="fa fa-home" style="background:#35c7df;color:#ffffff;"></i>
                         Địa chỉ: 01 Võ Văn Ngân, Linh Chiểu, Thủ Đức, TP. Hồ Chí Minh.
                      </p>
                      <p style="color:#ffffff;">
                         <i style="margin-top:12px;background:#35c7df;color:#ffffff;" class="fa fa-phone"></i>Phone 1 : 0353412806 <br> Phone 2 : 0123456789
                      </p>
                   </div>
                   <p style="color:#ffffff; display:inline-block; "> Email:</p>
                   <a style="color:#ffffff;" href="mailto:tlhlam19993@gmail.com" style="color:rgb(69, 206, 160);"><i style="background:#35c7df;color:#ffffff;"class="fa fa-envelope"></i>tlhlam19993@gmail.com</a>
                </div>
             </div>
             
          </div>
       </div>
    </div>
 </footer>