
           
                  <div id="PageContainer"></div>
                  <div class="quick-view"></div>
                  <nav class="cbp-spmenu cbp-spmenu-vertical cbp-spmenu-left " id="cbp-spmenu-s1">
                     <div class="gf-menu-device-wrapper">
                        <div class="close-menu">x</div>
                        <div class="gf-menu-device-container"></div>
                     </div>
                  </nav>
                  <div class="wrapper-container">
                     <div class="header-type-9">
                        <div class="">
                           <div id="header-landing" class="sticky-animate">
                              <div id="shopify-section-header-model-9" class="shopify-section">
                                 
                                 <app-header></app-header>
               
                                 
                              </div>
                           
                           </div>
                        </div>
                     </div>
                  </div>
<main class="main-content">
   <div class="dt-sc-hr-invisible-large"></div>
   <div class="wrapper">
      <div class="grid-uniform">
         <div class="grid__item">
            <div class="container">
               <div class="position-change">
                  <div class="grid__item wide--one-fifth post-large--one-quarter">
                     <div class="product_sidebar">
                        <div id="shopify-section-sidebar-category" class="shopify-section">
                           <div class="widget widget_product_categories">
                              <h4>
                                 Danh mục
                              </h4>
                              <ul class="product-categories dt-sc-toggle-frame-set">
                                 
                                 <li class="cat-item cat-item-39 cat-parent">
                                    <i></i><a class=" " [routerLink]="['/allproducts']"> Sản phẩm</a> 
                                 </li>
                                 <li class="cat-item cat-item-39 cat-parent">
                                    <i></i><a class=" " [routerLink]="['/searchproducts']">Tìm kiếm sản phẩm</a> 
                                 </li>
                                 <li class="cat-item cat-item-39 cat-parent">
                                    <i></i><a class=" " [routerLink]="['/searchingredients']">Tra cứu thành phần</a> 
                                 </li>
                                 <li class="cat-item cat-item-39 cat-parent">
                                    <i></i><a class=" " [routerLink]="['/blogs']">Đánh giá, cảm nhận</a> 
                                 </li>
                               
                              </ul>
                           </div>
                        </div>
                        
                       
                        
                        <div id="shopify-section-sidebar-promoimage" class="shopify-section">
                           <div class="widget widget_promo_img">
                              <ul id="promo-carousel" class="owl-carousel owl-theme">
                              </ul>
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="second">
                     <div id="shopify-section-product-template" class="shopify-section">
                        <div class="grid__item wide--four-fifths post-large--three-quarters">
                           <div itemscope itemtype="http://schema.org/Product" class="single-product-layout-type-1">
                              <meta itemprop="url" content="https://kure-demo.myshopify.com/products/face-mask">
                              <meta itemprop="image" content="//cdn.shopify.com/s/files/1/0188/0503/0976/products/pdt23_grande.jpg?v=1547027921">
                              <div class="product-single">
                                 <div class="grid__item wide--one-half post-large--one-half large--one-half product-img-box">
                                    <div class="product-photo-container">
                                       <a>
                                       <img id="product-featured-image" [src]="this.getImageSource(this.ImagePro)" style="height: 2000px;width: 500px;"/>
                                       </a>            
                                    </div>
                                    <div class="  more-view-wrapper hidden   more-view-wrapper-owlslider ">
                                       <ul id="ProductThumbs" class="product-photo-thumbs  owl-carousel owl-theme">
                                          <li class="grid-item">
                                             <a href="javascript:void(0)" data-image="//cdn.shopify.com/s/files/1/0188/0503/0976/products/pdt23_grande.jpg?v=1547027921" data-zoom-image="//cdn.shopify.com/s/files/1/0188/0503/0976/products/pdt23.jpg?v=1547027921">
                                             <img src="https://cdn.shopify.com/s/files/1/0188/0503/0976/products/pdt23_medium.jpg?v=1547027921" alt="Face Mask">
                                             </a>
                                          </li>
                                       </ul>
                                       <div class="single-page-owl-carousel"></div>
                                    </div>
                                 </div>
                                 <div class="product_single_detail_section grid__item wide--one-half post-large--one-half large--one-half">
                                    <h2 itemprop="name" class="product-single__title" style="font-size: 40px;line-height: 2cm;color: rgb(27, 12, 68);">{{this.NameProduct}}</h2>
                                    <br>
                                    <br>
                                    <br>
                                      <br>
                                    <div class="product_single_price">
                                       <div class="product_single_price">
                                          <div>
                                             <div class="grid-link__org_price" id="ProductPrice">
                                                <span> <span class=money style="line-height: 1cm;color: rgb(41, 21, 95);font-weight: 100px;"> Loại sản phẩm: {{this.NameProductType}}</span></span>
                                             </div>
                                          </div>
                                       </div>
                                      <br>
                                      <br>
                                      <br>
                                      <br>
                                       <div>
                                          <div class="grid-link__org_price" id="ProductPrice">
                                             <span> <span class=money style="line-height: 1cm;color: rgb(41, 21, 95);font-weight: 100px;"> Chỉ số kích ứng: {{this.PointPro}}</span></span>
                                          </div>
                                       </div>
                                    </div>

                                    <span class="shopify-product-reviews-badge" data-id="2240995721280"></span>
                                    
                                    
                                   
                                    <div itemprop="offers" itemscope itemtype="http://schema.org/Offer">
                                       <meta itemprop="priceCurrency" content="USD">
                                       <link itemprop="availability" href="http://schema.org/InStock">
                                       <form method="post" action="https://kure-demo.myshopify.com/cart/add" id="AddToCartForm" accept-charset="UTF-8" class="product-form" enctype="multipart/form-data">
                                          <input type="hidden" name="form_type" value="product" /><input type="hidden" name="utf8" value="✓" />
                                          
                                       <br>
                                       <br>
                                       <br>
                                      <br>
                                          <a href="{{this.Linktobuy}}" class="add-cart-btn btn">
                                            <i class="fas fa-shopping-cart"></i>Link mua hàng
                                            </a>
                                        
                                       </form>

                                    </div>
                                    
                                    
                                 </div>
                                 
                              </div>
                             
                              <div class="dt-sc-hr-invisible-large"></div>
                           
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <div class="grid__item product_desc_section" style="position:relative;border-top:1px solid colorBorder;">
      </div>
      <div class="dt-sc-hr-invisible-large"></div>
   <div class="border-title wow fadeInUp animated">
      <h2 class="section-header__title" style="color:#222222;" class="site-des">
         <strong> MÔ TẢ </strong>
      </h2>
   </div>
   <mat-card class="example-card left" style="width:1200px">
      <div class="product-description rte site-des" itemprop="description" style="font-size: 23px;line-height: 1.5cm;">
      {{this.DescriptionPro}}
      </div>
   </mat-card>
   </div>
   <div class="grid__item product_desc_section" style="position:relative;border-top:1px solid colorBorder;">
   </div>
   <div class="dt-sc-hr-invisible-large"></div>
   <div class="border-title wow fadeInUp animated">
      <h2 class="section-header__title" style="color:#222222;" class="site-menu1">
         <strong> bình luận </strong>
      </h2>
      <div class="blog-btn">
         <button type="submit" class="btn btn-primary" (click)="openDialog()">Thêm Bình luận</button>
      </div>
      <br>
      <mat-card class="example-card left" *ngFor="let cmt of cmtList">
         <mat-card-header>
           <mat-card-title style="color:rgb(27, 12, 68); font-size:24px;">{{cmt.ComposerName}}</mat-card-title>
         </mat-card-header>
         <br>
         <mat-card-content>
           <p style="width:1000px; font-size: 22px; text-align: left; margin-left: 20px;">
             {{cmt.Description}}
           </p>
         </mat-card-content>
         <br>
         <br>
       </mat-card>
   </div>
    
</main>
<div id="shopify-section-footer-model-5" class="shopify-section">
   <div data-section-id="footer-model-5"  data-section-type="Footer-model-5" class="footer-model-5">
      <app-footer></app-footer>
   </div>
</div>
<!-- Begin quick-view-template -->
<div class="clearfix" id="quickview-template" style="display:none">
   <div class="overlay"></div>
   <div class="content clearfix">
      <div class="product-img images">
         <div class="quickview-featured-image product-photo-container"></div>
         <div class="more-view-wrapper">
            <ul class="product-photo-thumbs quickview-more-views-owlslider owl-carousel owl-theme">
            </ul>
            <div class="quick-view-carousel"></div>
         </div>
      </div>
      <div class="product-shop summary">
         <div class="product-item product-detail-section">
            <h2 class="product-title"><a>&nbsp;</a></h2>
            <p class="item-text product-description"></p>
            <div class="prices product_price">
               <label>Effective Price :</label>
               <div class="price h4" id="QProductPrice"></div>
               <div class="compare-price" id="QComparePrice"></div>
            </div>
            <div class="product-infor">
               <p class="product-inventory"><label>Availability :</label><span></span></p>
            </div>
            <div class="details clearfix">
               <form action="https://kure-demo.myshopify.com/cart/add" method="post" class="variants">
                  <select name='id' style="display:none"></select>
                  <div class="qty-section quantity-box">
                     <label>Quantity :</label>
                     <div class="dec button qtyminus">-</div>
                     <input type="number" name="quantity" id="Qty" value="1" class="quantity">
                     <div class="inc button qtyplus">+</div>
                  </div>
                  <div class="total-price">
                     <label>Subtotal :</label><span class="h5"></span>
                  </div>
                  <div class="actions">
                     <button type="button" class="add-to-cart-btn btn">
                     Add to Cart
                     </button>
                  </div>
               </form>
            </div>
         </div>
      </div>
      <a href="javascript:void(0)" class="close-window"></a> 
   </div>
</div>
<!-- End of quick-view-template -->
<div class="loading-modal compare_modal">Loading</div>
<div class="ajax-success-compare-modal compare_modal" id="moda-compare" tabindex="-1" role="dialog" style="display:none">
   <div class="overlay"> </div>
   <div class="modal-dialog modal-lg">
      <div class="modal-content content" id="compare-modal">
         <div class="modal-header">
            <h4 class="modal-title">Compare Products</h4>
         </div>
         <div class="modal-body">
            <div class="table-wrapper">
               <table class="table table-hover">
                  <thead>
                     <tr class="th-compare">
                        <th></th>
                     </tr>
                  </thead>
                  <tbody id="table-compare">
                  </tbody>
               </table>
            </div>
         </div>
         <div class="modal-footer">
            <a href="javascript:void(0)" class="close-modal"><i class="far fa-times-circle"></i></a>
         </div>
      </div>
   </div>
</div>
<div class="loading-modal modal">Loading</div>
<div class="ajax-error-modal modal">
   <div class="modal-inner">
      <div class="ajax-error-title">Error</div>
      <div class="ajax-error-message"></div>
   </div>
</div>
<div class="ajax-success-modal modal">
   <div class="overlay"></div>
   <div class="content">
      <div class="ajax-left">
         <p class="added-to-cart info">Product successfully added to your shopping cart</p>
         <p class="added-to-wishlist info">translation missing: en.products.wishlist.added_to_wishlist</p>
         <img class="ajax-product-image" alt="modal window" src="../index.html" />
         <div class="ajax-cart-desc">
            <h3 class="ajax-product-title"></h3>
            <span class="ajax_price"></span>
            <p>Qty:&nbsp;<span class="ajax_qty"></span></p>
         </div>
      </div>
      <div class="ajax-right">
         <p>There are <span class="ajax_cartCount"></span>&nbsp;item(s) in your cart</p>
         <span class="ajax_cartTotal"></span>
         <button class="btn continue-shopping" onclick="javascript:void(0)">Continue shopping</button>
         <div class="success-message added-to-cart"><a href="https://kure-demo.myshopify.com/cart" class="btn"><i class="fas fa-shopping-cart"></i>View Cart</a> </div>
         <!--  <div class="success-message added-to-wishlist"> <a href="/pages/wishlist" class="btn"><i class="fa fa-heart"></i>View Wishlist</a></div>                -->
      </div>
      <a href="javascript:void(0)" class="close-modal"><i class="far fa-times-circle"></i></a>
   </div>
</div>
<div class="newsletterwrapper">
   <div id="email-modal" style="display: none;">
      <div class="modal-overlay"></div>
      <div class="modal-window" style="display: none;">
         <div class="window-window">
            <a class="btn close" title="Close Window"></a>
            <div class="window-content">
               <div class="newsletter-title">
                  <h2 class="title">Get to know the latest offers</h2>
               </div>
               <p class="message">Subscribe and get notified at first on the latest update and offers!</p>
               <div id="mailchimp-email-subscibe">
                  <div id="mc_embed_signup">
                     <form method="post" action="https://kure-demo.myshopify.com/contact#contact_form" id="contact_form" accept-charset="UTF-8" class="contact-form"><input type="hidden" name="form_type" value="customer" /><input type="hidden" name="utf8" value="✓" />
                        <input type="email" value="" placeholder="Email address" name="contact[email]" class="mail" aria-label="Email address" >
                        <input type="hidden" name="contact[tags]" value="newsletter">
                        <button type="submit" class="btn" name="subscribe" value=""  id="subscribe" >Send</button>          
                     </form>
                  </div>
                  <span>We do not spam</span>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>