        
                  <div id="PageContainer"></div>
                  <div class="quick-view"></div>
                  <nav class="cbp-spmenu cbp-spmenu-vertical cbp-spmenu-left " id="cbp-spmenu-s1">
                     <div class="gf-menu-device-wrapper">
                        <div class="close-menu">x</div>
                        <div class="gf-menu-device-container"></div>
                     </div>
                  </nav>
                  <div class="wrapper-container">
                     <div class="header-type-9">
                        <div class="">
                           <div id="header-landing" class="sticky-animate">
                              <div id="shopify-section-header-model-9" class="shopify-section">
<app-header></app-header>
</div>

</div>
</div>
</div>
</div>
 
  <main class="main-content">  
    


<div class="dt-sc-hr-invisible-large"></div> 
  
          
      <div class="grid-uniform">
        <div class="grid__item">  
           
          <div class="container">
            
            

<div id="map"><iframe width="960" height="578" style="border:0;overflow:hidden;" src="https://maps.google.co.in/?ie=UTF8&t=m&ll=-37.823006,144.977388&spn=0.02034,0.042915&z=14&output=embed"></iframe> </div>


        
<div class="contact-address">
  <div class="wrapper">
    <div class="dt-sc-hr-invisible-large"></div>

    <div class="grid__item">
      
      <ul>
        <li class="grid__item wide--one-third post-large--one-third large--one-third">
          <div class="icon">
            <i class="fas fa-phone"></i>
          </div>
           
          <h4>Talk to us</h4>
          <p>  <b>Toll-Free: </b> 0803 - 080 - 3081 <br><b>Fax: </b> 0803 - 080 - 3082</p><mark></mark> 
          
        </li>
        <li class="grid__item wide--one-third post-large--one-third large--one-third">
          
          <div class="icon">
            <i class="far fa-envelope"></i>
          </div>
          <h4>Contact Us</h4>
          <p> 
            <a title="" href="contact-us">buddhathemes@somemail.com</a><br><a title="" href="contact-us">support@somemail.com</a>
          </p> 
          
        </li>
         
        <li class="address grid__item wide--one-third post-large--one-third large--one-third"> 
          <div class="icon">
            <i class="fas fa-location-arrow"></i>
          </div> 
          <h4>Location</h4>
          <p> No: 58 A, East Madison Street,<br /> Baltimore, MD, USA
4508<br /></p><mark></mark> 

        </li>
        
      </ul>



      
    </div>
    <div class="dt-sc-hr-invisible-large"></div>

    <div class="grid__item">
      <div class="contact-form-section">
        <form method="post" action="https://kure-demo.myshopify.com/contact#contact_form" id="contact_form" accept-charset="UTF-8" class="contact-form example-form"><input type="hidden" name="form_type" value="contact" /><input type="hidden" name="utf8" value="✓" />
        
        
        
          <mat-form-field class="example-full-width">
            <mat-label>Company (disabled)</mat-label>
            <input matInput disabled value="Google">
          </mat-form-field>
        
          <table class="example-full-width" cellspacing="0"><tr>
            <td><mat-form-field class="example-full-width">
              <mat-label>First name</mat-label>
              <input matInput>
            </mat-form-field></td>
            <td><mat-form-field class="example-full-width">
              <mat-label>Long Last Name That Will Be Truncated</mat-label>
              <input matInput>
            </mat-form-field></td>
          </tr></table>
        
          <p>
            <mat-form-field class="example-full-width">
              <mat-label>Address</mat-label>
              <textarea matInput placeholder="Ex. 100 Main St"></textarea>
            </mat-form-field>
            <mat-form-field class="example-full-width">
              <mat-label>Address 2</mat-label>
              <textarea matInput></textarea>
            </mat-form-field>
          </p>
        
          <table class="example-full-width" cellspacing="0"><tr>
            <td><mat-form-field class="example-full-width">
              <mat-label>City</mat-label>
              <input matInput placeholder="Ex. San Francisco">
            </mat-form-field></td>
            <td><mat-form-field class="example-full-width">
              <mat-label>State</mat-label>
              <input matInput placeholder="Ex. California">
            </mat-form-field></td>
            
          </tr></table>

        </form>
      </div>

    </div>


  </div>
</div>

	
             
          </div>  
          
        </div>
      </div>      
      
    
    <div class="dt-sc-hr-invisible-large"></div>
    
  </main>


  
  <div id="shopify-section-footer-model-5" class="shopify-section">
     <div data-section-id="footer-model-5"  data-section-type="Footer-model-5" class="footer-model-5">
  <app-footer></app-footer>
</div>
</div>
  

  <!-- Begin quick-view-template -->
<div class="clearfix" id="quickview-template" style="display:none">
  <div class="overlay"></div>
  <div class="content clearfix">
    <div class="product-img images">
      <div class="quickview-featured-image product-photo-container"></div>
      <div class="more-view-wrapper">
        <ul class="product-photo-thumbs quickview-more-views-owlslider owl-carousel owl-theme">
        </ul>
        <div class="quick-view-carousel"></div>
      </div>
    </div>
    <div class="product-shop summary">
      <div class="product-item product-detail-section">
        <h2 class="product-title"><a>&nbsp;</a></h2>
        
        <p class="item-text product-description"></p>
        
        <div class="prices product_price">
          <label>Effective Price :</label>
          <div class="price h4" id="QProductPrice"></div>
          <div class="compare-price" id="QComparePrice"></div>
        </div>
        
        <div class="product-infor">
          <p class="product-inventory"><label>Availability :</label><span></span></p>    
        </div>
        
        <div class="details clearfix">
          <form action="https://kure-demo.myshopify.com/cart/add" method="post" class="variants">
            <select name='id' style="display:none"></select>
            <div class="qty-section quantity-box">
              <label>Quantity :</label>
              <div class="dec button qtyminus">-</div>
              <input type="number" name="quantity" id="Qty" value="1" class="quantity">
              <div class="inc button qtyplus">+</div>
            </div>
            
            
            <div class="total-price">
              <label>Subtotal :</label><span class="h5"></span>
            </div>
                        
            <div class="actions">
                <button type="button" class="add-to-cart-btn btn">
                  Add to Cart
                </button>
              </div>
          </form>
        </div>     
      </div>
    </div>  
 <a href="javascript:void(0)" class="close-window"></a> 
  </div>
 
</div>
<!-- End of quick-view-template -->


  <div class="loading-modal compare_modal">Loading</div>
<div class="ajax-success-compare-modal compare_modal" id="moda-compare" tabindex="-1" role="dialog" style="display:none">
  <div class="overlay"> </div>
    <div class="modal-dialog modal-lg">
      <div class="modal-content content" id="compare-modal">
        <div class="modal-header">

          <h4 class="modal-title">Compare Products</h4>
        </div>
        <div class="modal-body">
          <div class="table-wrapper">
            <table class="table table-hover">
              <thead>
                <tr class="th-compare">
                  <th></th>
                </tr>
              </thead>
              <tbody id="table-compare">

              </tbody>

            </table>
           </div>
        </div>
        <div class="modal-footer">
           <a href="javascript:void(0)" class="close-modal"><i class="far fa-times-circle"></i></a>
        </div>         
      </div>
    </div>
  </div>

 
  <div class="loading-modal modal">Loading</div> 
<div class="ajax-error-modal modal">
  <div class="modal-inner">
    <div class="ajax-error-title">Error</div>
    <div class="ajax-error-message"></div>
  </div>
</div>
<div class="ajax-success-modal modal">
  	<div class="overlay"></div>
	<div class="content"> 
      
      
      <div class="ajax-left">    
        <p class="added-to-cart info">Product successfully added to your shopping cart</p>
      <p class="added-to-wishlist info">translation missing: en.products.wishlist.added_to_wishlist</p>
      <img class="ajax-product-image" alt="modal window" src="../index.html" />
       <div class="ajax-cart-desc">
        <h3 class="ajax-product-title"></h3>
        <span class="ajax_price"></span>
        <p>Qty:&nbsp;<span class="ajax_qty"></span></p>
        </div>
      </div>
      <div class="ajax-right"> 
        
        <p>There are <span class="ajax_cartCount"></span>&nbsp;item(s) in your cart</p>
        <span class="ajax_cartTotal"></span>
          <button class="btn continue-shopping" onclick="javascript:void(0)">Continue shopping</button>
        <div class="success-message added-to-cart"><a href="https://kure-demo.myshopify.com/cart" class="btn"><i class="fas fa-shopping-cart"></i>View Cart</a> </div>  
      <!--  <div class="success-message added-to-wishlist"> <a href="/pages/wishlist" class="btn"><i class="fa fa-heart"></i>View Wishlist</a></div>                -->
      </div>
    <a href="javascript:void(0)" class="close-modal"><i class="far fa-times-circle"></i></a>
 	</div>    
</div>

<div class="newsletterwrapper">
  <div id="email-modal" style="display: none;">
    <div class="modal-overlay"></div>
    <div class="modal-window" style="display: none;">
      <div class="window-window">
          <a class="btn close" title="Close Window"></a>
          
           
         
          
            <div class="window-content">
          <div class="newsletter-title">
         <h2 class="title">Get to know the latest offers</h2>
          </div>
           <p class="message">Subscribe and get notified at first on the latest update and offers!</p>
          <div id="mailchimp-email-subscibe">
            <div id="mc_embed_signup">
              

<form method="post" action="https://kure-demo.myshopify.com/contact#contact_form" id="contact_form" accept-charset="UTF-8" class="contact-form"><input type="hidden" name="form_type" value="customer" /><input type="hidden" name="utf8" value="✓" />


  <input type="email" value="" placeholder="Email address" name="contact[email]" class="mail" aria-label="Email address" >
  <input type="hidden" name="contact[tags]" value="newsletter">
  <button type="submit" class="btn" name="subscribe" value=""  id="subscribe" >Send</button>          



</form>  

            </div>   
            <span>We do not spam</span>
          </div>   
        </div>
        
      </div>
    </div>
  </div>
</div>


