<h2><strong>THÊM BLOG</strong></h2>
<form class="example-form">
  <div class="row">
      <div class="col-md-12">
        <div class="form-group">
          <label class="bmd-label-floating"> <strong>CHỦ ĐỀ BLOG</strong></label>
            <select class="col-md-12" id="input" required="required" [(ngModel)]="this.adminblog.IDTopic" [ngModelOptions]="{standalone: true}">
              <option value="shop1">Các shop và spa uy tín</option>
              <option value="camnhan1">Cảm nhận sản phẩm của admin</option>
              <option value="danhgia1">Đánh giá của người dùng</option>
              <option value="loikhuyen1">Lời khuyên bác sĩ</option>
            </select>
        </div>
      </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="form-group">
        <label class="bmd-label-floating"> <strong>TIÊU ĐỀ</strong></label>
          <mat-form-field class="col-md-12">
            <input type="text" class="form-control" required="required" [(ngModel)]="this.adminblog.Heading" [ngModelOptions]="{standalone: true}">
          </mat-form-field>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="form-group">
        <label class="bmd-label-floating"> <strong>NỘI DUNG</strong></label>
          <mat-form-field class="col-md-12">
            <textarea class="form-control" rows="5" matInput placeholder="Mô tả về ...." name="Point" type="text" id="input" required="required" [(ngModel)]="this.adminblog.Description" [ngModelOptions]="{standalone: true}">
             </textarea>
          </mat-form-field>
      </div>
    </div>
  </div>
  <label><strong>THÊM HÌNH ẢNH</strong></label>
    <div>
       
        <img [src]="url" height="200"> <br/>
        <input type='file' accept="image/*" (change)="onSelectFile($event)">
     </div>
  <div class="row">
    <div class="col-md-12">
      <div class="form-group">
        <label class="bmd-label-floating"> <strong>TRẠNG THÁI</strong></label>
      <br/>
          <select id="input" required="required" [(ngModel)]="this.adminblog.Disabled" [ngModelOptions]="{standalone: true}">
            <option value="true">ẨN BÀI VIẾT</option>
            <option value="false">ĐANG HOẠT ĐỘNG</option>
          </select> 
      </div>
    </div>
  </div>
  <button class="btn btn-primary" mat-button (click)="onSave()">Save</button>
  <button class="btn btn-danger right" mat-button (click)="onNoClick()">Cancel</button>
  </form>
 

