.example-form {
  min-width: 700px;
  max-width: 1000px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}
.myDiv {
  border: 1px outset rgb(157, 192, 221);
  background-color: whitesmoke;
  text-align: center;
}
.left {
  margin-left :25px 
}